* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #4E1E29;
}

.container {
  width: 80vw;
  max-width: 800px;  
  margin: 50px auto;  
  padding: 15px;
  background-color: #C6B38E;
  border-radius: 10px;
}

.title {
  font-family: 'Alegreya', serif;  
  font-color: #4E1E29;
  text-transform: uppercase;
}

.back-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin-left: 40px;
  text-transform: none;

}